body {
    margin: 0;
    padding: 0;
    background: url(images/bg.png);
    background-size: cover;
    background-color: #000;
 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.loginbox {
    width: 320px;
    height: 500px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 7%;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;

}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="email"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;

}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #c00202;
    color: #000;
}
.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
    font-family: 'Courier New', Courier, monospace;
}
.loginbox a:hover {
    color: #cc0909;
}